body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    width: 300px;
    padding: 30px;
    align-items: center;
    border-radius: 15px;
    
}
.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.card h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.card p {
    font-size: 16px;
    margin-bottom: 10px;
}